<%- include('layout.ejs', { title: 'Articles List', theme: theme }) %>
<div class="container">
  <div class="admin-notice">
    🔒 Admin Access Required - Articles Section
  </div>
  <h1>📚 Articles Collection</h1>
  <ul>
    <% articles.forEach(article=> { %>
      <li>
        <a href="/articles/<%= article.id %>">
          <%= article.title %>
            <div class="article-meta">ID: <%= article.id %>
            </div>
        </a>
      </li>
      <% }) %>
  </ul>
</div>