extends layout.pug

block content
  .card
    h1 User Details
    .detail
      span.label ID:
      span.value #{user.id}
    .detail
      span.label Name:
      span.value #{user.name}
    .detail
      span.label Email:
      span.value #{user.email}
    a.back-link(href="/users") â† Back to Users List